@@create_loop(
  array(
    'class_name' => '.container**',
    'class_name_stack' => true,
    'class_content' => array(
      'width' => '100%',
      'padding-right' => '0.75rem',
      'padding-left' => '0.75rem',
      'margin-right' => 'auto',
      'margin-left' => 'auto',
    ),
    'class_loop' => array(
      '' => '',
      '-fluid' => '-fluid',
      '-sm' => '-sm',
      '-md' => '-md',
      '-lg' => '-lg',
      '-xl' => '-xl',
      '-xxl' => '-xxl',
    )
  )
);

@media (min-width: $breakpoint-sm) {
  @@create_loop(
    array(
      'class_name' => '.container**',
      'class_name_stack' => true,
      'class_content' => array(
        'max-width' => '540px',
      ),
      'class_loop' => array(
        '' => '',
        '-sm' => '-sm',
      )
    )
  );
}

@media (min-width: $breakpoint-md) {
  @@create_loop(
    array(
      'class_name' => '.container**',
      'class_name_stack' => true,
      'class_content' => array(
        'max-width' => '720px',
      ),
      'class_loop' => array(
        '' => '',
        '-sm' => '-sm',
        '-md' => '-md',
      )
    )
  );
}

@media (min-width: $breakpoint-lg) {
  @@create_loop(
    array(
      'class_name' => '.container**',
      'class_name_stack' => true,
      'class_content' => array(
        'max-width' => '960px',
      ),
      'class_loop' => array(
        '' => '',
        '-sm' => '-sm',
        '-md' => '-md',
        '-lg' => '-lg',
      )
    )
  );
}

@media (min-width: $breakpoint-xl) {
  @@create_loop(
    array(
      'class_name' => '.container**',
      'class_name_stack' => true,
      'class_content' => array(
        'max-width' => '1140px',
      ),
      'class_loop' => array(
        '' => '',
        '-sm' => '-sm',
        '-md' => '-md',
        '-lg' => '-lg',
        '-xl' => '-xl',
      )
    )
  );
}

@media (min-width: $breakpoint-xxl) {
  @@create_loop(
    array(
      'class_name' => '.container**',
      'class_name_stack' => true,
      'class_content' => array(
        'max-width' => '1320px',
      ),
      'class_loop' => array(
        '' => '',
        '-sm' => '-sm',
        '-md' => '-md',
        '-lg' => '-lg',
        '-xl' => '-xl',
        '-xxl' => '-xxl',
      )
    )
  );
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: calc(1.5rem * -.5);
  margin-left: calc(1.5rem * -.5);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
  margin-top: 0;
}

/* row-cols */

.col {
  flex: 1 0 0%;
}

@@create_loop(
  array(
    'class_name' => '.row-cols-** > *',
    'class_content' => array(
      'flex' => '**flex',
      'width'=> '**width'
    ),
    'class_loop' => array(
      'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
      '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
      '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
      '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
      '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
      '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
      '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
    )
  )
);

@media (min-width: $breakpoint-sm) {
  @@create_loop(
    array(
      'class_name' => '.row-cols-sm-** > *',
      'class_content' => array(
        'flex' => '**flex',
        'width'=> '**width'
      ),
      'class_loop' => array(
        'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
        '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
        '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
        '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
        '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
        '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
        '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
      )
    )
  );
}

@media (min-width: $breakpoint-md) {
  @@create_loop(
    array(
      'class_name' => '.row-cols-md-** > *',
      'class_content' => array(
        'flex' => '**flex',
        'width'=> '**width'
      ),
      'class_loop' => array(
        'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
        '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
        '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
        '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
        '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
        '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
        '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
      )
    )
  );
}

@media (min-width: $breakpoint-lg) {
  @@create_loop(
    array(
      'class_name' => '.row-cols-lg-** > *',
      'class_content' => array(
        'flex' => '**flex',
        'width'=> '**width'
      ),
      'class_loop' => array(
        'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
        '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
        '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
        '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
        '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
        '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
        '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
      )
    )
  );
}

@media (min-width: $breakpoint-xl) {
  @@create_loop(
    array(
      'class_name' => '.row-cols-xl-** > *',
      'class_content' => array(
        'flex' => '**flex',
        'width'=> '**width'
      ),
      'class_loop' => array(
        'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
        '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
        '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
        '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
        '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
        '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
        '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
      )
    )
  );
}

@media (min-width: $breakpoint-xxl) {
  @@create_loop(
    array(
      'class_name' => '.row-cols-xxl-** > *',
      'class_content' => array(
        'flex' => '**flex',
        'width'=> '**width'
      ),
      'class_loop' => array(
        'auto' => array('flex'=>'0 0 auto', 'width'=>'auto'),
        '1' => array('flex'=>'0 0 auto', 'width'=>'100%'),
        '2' => array('flex'=>'0 0 auto', 'width'=>'50%'),
        '3' => array('flex'=>'0 0 auto', 'width'=>'33.3333333333%'),
        '4' => array('flex'=>'0 0 auto', 'width'=>'25%'),
        '5' => array('flex'=>'0 0 auto', 'width'=>'20%'),
        '6' => array('flex'=>'0 0 auto', 'width'=>'16.6666666667%'),
      )
    )
  );
}

/* end row-cols */

@@create_loop(
  array(
    'class_name' => '.col-**',
    'class_content' => array(
      'flex' => '**flex',
      'width'=> '**width'
    ),
    'class_loop' => $list_col['xs']
  )
);