.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  transition: all 200ms ease-out;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  color: #fff;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,153,255,1) 0%, rgba(0,153,255,0.4) 86%, rgba(0,153,255,0) 100%);
  width: 100%;
  font-size: 12px;
  text-align: right;
}

.card-img-overlay-box-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  color: #fff;
  background-color: #acdbf5;
}

.card-img-overlay-box-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem;
  color: #fff;
  background-color: #000;
}

.card-img {
  width: 100%;
  border-radius: calc(.25rem - 1px);
  transition: transform .4s;
}


.card:hover {
  box-shadow: 0px 0px 18px 0px rgba(0,153,255,1);
}


.card-column .card {
    margin-bottom: .75rem;
}

.card > a:hover {
  color: $color-black-lighter !important;
}

@media (min-width: 576px) {
  .card-column {
    column-count: 4;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-column .card {
      display: inline-block;
      width: 100%;
  }


}
