/* ANIMATED HAMBURGER MENU ICON */

.animated-humburger-menu-icon,
.animated-humburger-menu-icon-x  {
  position: relative;
  height: 48px;
  width: 48px;
  z-index: 100;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  outline: currentcolor none medium;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.animated-humburger-menu-icon:hover,
.animated-humburger-menu-icon-x:hover  {
  background-color: #606060 !important;
}

.animated-humburger-menu-icon span,
.animated-humburger-menu-icon-x span {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

.animated-humburger-menu-icon span.top-bar {
    top: 17px;
    left: 12px;
    transform: rotate(0deg);
}

.animated-humburger-menu-icon span.middle-bar {
    top: 24px;
    left: 12px;
    opacity: 1;
}

.animated-humburger-menu-icon span.bottom-bar {
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}

.animated-humburger-menu-icon-x span.top-bar {
    top: 24px;
    left: 12px;
    transform: rotate(-45deg);
}

.animated-humburger-menu-icon-x span.middle-bar {
    top: 24px;
    left: 12px;
    opacity: 0;
}

.animated-humburger-menu-icon-x  span.bottom-bar {
    top: 24px;
    left: 12px;
    transform: rotate(45deg);
}


/* ANIMATED ZOOM */
.animate-container {
  overflow: hidden;
  position: relative;
}

.animate-zoom:hover {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

/* ANIMATED UNDERLINE */
.animated-underline
{
  color: $color-black-light;
  position: relative;
  display: inline-block;
}

.animated-underline a
{
    color: $color-black-light;
    text-decoration: none;
}

.animated-underline::after
{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 0;
  height: 3px;
  background-color: $color-primary;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.animated-underline a:hover {
    color: $color-black !important;
}

.animated-underline:hover::after
{
  width: 100%;
  opacity: 1;
}

/* ANIMATED CSS */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-infinite {
  animation-iteration-count: infinite;
}

.animated-delay-1s {
  animation-delay: 1s;
}

.animated-delay-2s {
  animation-delay: 2s;
}

.animated-delay-3s {
  animation-delay: 3s;
}

.animated-delay-4s {
  animation-delay: 4s;
}

.animated-delay-5s {
  animation-delay: 5s;
}

.animated-delay-6s {
  animation-delay: 6s;
}

.animated-delay-7s {
  animation-delay: 7s;
}

.animated-delay-8s {
  animation-delay: 8s;
}

.animated-delay-9s {
  animation-delay: 9s;
}

.animated-delay-10s {
  animation-delay: 10s;
}

.animated-fast {
  animation-duration: 800ms;
}

.animated-faster {
  animation-duration: 500ms;
}

.animated-slow {
  animation-duration: 2s;
}

.animated-slower {
  animation-duration: 3s;
}

.animated-timing-function-liner {
  animation-timing-function: linear;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}

@keyframes animated-zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.animated-zoom-in {
  animation-name: animated-zoom-in;
}

@keyframes animated-zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.animated-zoom-out {
  animation-name: animated-zoom-out;
}


@keyframes animated-slide-in-down {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, -1%, 0);
  }
}

.animated-slide-in-down {
  animation-name: animated-slide-in-down;
}

@keyframes animated-slide-out-up {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.animated-slide-out-up {
  animation-name: animated-slide-out-up;
}

@keyframes animated-slide-out-down {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.animated-slide-out-down {
  animation-name: animated-slide-out-down;
}

@keyframes animated-slide-in-up {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animated-slide-in-up {
  animation-name: animated-slide-in-up;
}

.collapse_slide_in {
  animation-name: animated-slide-in-down;
}

.collapse_slide_out {
  animation-name: animated-slide-out-up;
}

@keyframes animated-spin {
  to {
    transform: rotate(360deg)
  }
}

.animated-spin {
  animation-name: animated-spin;
}

@keyframes animated-fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animated-fade-in-up {
  animation-name: animated-fade-in-up;
}

@keyframes animated-fade-out-right {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.animated-fade-out-right {
  animation-name: animated-fade-out-right;
}

@keyframes animated-rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.animated-rotate {
  animation-name: animated-rotate;
}