.headerbox {
  padding: .75rem 1rem 0 1rem;
  background-color: #e9ecef;
}

.b-b-r-0,
.b-b-l-0 {
  border-bottom-right-radius: 0;
}

.b-b-r-1 {
  border-bottom-right-radius: 0.25rem;
}

.b-b-l-1 {
  border-bottom-left-radius: 0.25rem;
}

.position-sticky-t {
  position: sticky;
  top: 0;
  z-index: 1020;
}



.text-center {
  text-align: center;
}

.headerbox-body {
  position: relative;
  margin: 0 auto 0.5rem;
  width: 100%;
}

.headerbox-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 6em;
  color: var(--color-primary);
}
