.pin-tag
{
  background-color: #f1f1f1;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  border-radius: 16px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 200ms ease-out;
}

.pin-tag-img
{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.pin-tag-text
{
  margin-left: 2px;
}

.pin-tag-link
{
  color: black;
}

.pin-tag-link:hover
{
  color: black;
  text-decoration: none;
}

.pin-tag:hover
{
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.pin-tag:active
{
  box-shadow: 0 0 3px 5px $color-primary$;
  background-color: $color-primary$;
}
