.scrollbar {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.scrollbar-item {
  display: inline-block;
}

.scrollbar-item+.scrollbar-item {
    padding-left: .5rem;
}

.scrollbar-item+.scrollbar-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}
