.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 1030;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
  text-decoration: none !important;
}

.nav-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  border-left: 3px solid var(--color-primary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.nav-header {
  background: var(--bg-secondary);
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-large
{
  display: inline;
  position: absolute;
  left: 1.5rem;
  opacity: 0;
  transition: var(--transition-speed);
}

.navbar:hover .logo-small {
  opacity: 0;
}

.navbar:hover .logo-large {
  left: 1.5rem;
  opacity: 1;
}

.logo-small {
  height: 50px;
  opacity: 1;
  transition: var(--transition-speed);
  margin-left: 1rem;
}


.container-fluid {
  margin-left: 5rem !important;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-x: auto;
  }


  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }


  .container-fluid {
    margin-left: auto !important;
  }

  .navbar:hover .logo-small {
    opacity: 1;
  }

  .navbar:hover .logo-large {
    left: -999px;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 10rem;
    border-right: 3px solid #010101;
    box-shadow: 4px 0 10px -3px #010101;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}
