hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.line-t {
  box-shadow: inset 0 2px 0px 0px var(--color-secondary);
  position: relative;
}

.line-t-p {
  border-top: 2px solid var(--color-primary);
  position: relative;
  padding-top: 0.4rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
