.navbar-side {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  display: flex;
  z-index: 1020;
}

.navbar-side-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
}

.navbar-side-item {
  width: 100%;
  text-align: center;
  margin: 0.5rem;
}

.navbar-side-menu-wrap {
  width: 100%;
  display: flex;
}

.navbar-side-brand {
  display: inline-block;
  white-space: nowrap;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.navbar-side-item a {
  text-decoration: none;
}

.navbar-side {
  top: unset;
  bottom: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  display: flex;
}

.navbar-side-item-text {
  display: none;
}

.navbar-side-menu-expand {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow-x: auto;
  padding: 1rem 0.5rem 8rem 0.5rem;
  background-color: lightgreen;
  display: none;

}


@media screen and (min-width: 768px) {
  .navbar-side {
    top: 0;
    bottom: unset;
  }

  .navbar-side-item-text {
    display: inline-block;
  }

  .navbar-side-item {
    width: auto;
  }

  .navbar-side-nav {
    justify-content: flex-end;
  }

  .navbar-side-menu-expand {
      padding: 8rem 0.5rem 1rem 0.5rem;
  }
}
